.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../img/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  main {
    flex-grow: 1;
  }
}

.section-head {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 32px;
}

.section-sum {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 90%;
  color: var(--white);

  @media (max-width: $breakpoint992) {
    font-size: 24px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 20px;
  }
}

.section-title {
  max-width: 760px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 90%;
  color: var(--white);

  .section-title-yellow {
    color: var(--primary);
  }

  @media (max-width: $breakpoint1450) {
    font-size: 48px;
  }

  @media (max-width: $breakpoint992) {
    font-size: 36px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 24px;
  }
}

.section-text {
  max-width: 500px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--grey);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  width: 300px;
  height: 60px;
  padding: 18px;
  border-radius: 10px;
  background: linear-gradient(226deg, #ffa63d 0%, #ba5a02 100%);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: var(--white);
  transition: font-size 0.2s linear;

  @media (hover:hover) {
    &:hover {
      background: linear-gradient(0deg, #ffa63d 0%, #ba5a02 100%);
    }
  }

  @media (max-width: $breakpoint480) {
    width: 100%;
  }
}

.car {
  position: absolute;
  z-index: -1;
  width: 100%;
  user-select: none;
  pointer-events: none;

  img {
    min-width: 1500px;
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

.car-top {
  top: 0;
}

.car-bottom {
  bottom: 0;
}