.calculation {
  position: relative;
  height: fit-content;
  margin: 150px 0;

  @media (max-width: $breakpoint1450) {
    margin: 80px 0;
  }

  @media (max-width: $breakpoint992) {
    margin: 60px 0;
  }

  @media (max-width: $breakpoint768) {
    margin: 40px 0;
  }

  // .calculation__inner

  &__inner {}

  // .calculation__main

  &__main {}
}


.calculation-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  .form-valid {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 60px;
    color: red;

    &.active {
      display: block;
      animation: fade 0.2s linear;
    }

    @media (max-width: $breakpoint992) {
      left: 24px;
    }
  }

  // .calculation-form__block

  &__block {
    display: none;
    min-height: 582px;
    grid-template-columns: 1fr 240px;
    column-gap: 60px;
    border-radius: 20px;
    padding: 32px 40px 50px 60px;
    background: radial-gradient(50% 50% at 50% 50%, rgb(49, 49, 49) 0%, rgb(11, 11, 11) 100%);
    animation: fade 0.2s linear;
    width: 100%;

    &.active {
      display: grid;
    }

    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(1, 1fr);
      padding: 24px 24px 40px;
      min-height: fit-content;
    }

  }

  // .calculation-form__inner

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @media (max-width: $breakpoint768) {
      row-gap: 24px;
    }
  }

  // .calculation-form__progress

  &__progress {
    position: relative;
  }

  // .calculation-form__progress-line

  &__progress-line {
    position: absolute;
    bottom: 6px;
    left: 2px;
    height: 3px;
    width: calc(100% - 4px);
    background-color: #484848;
    border-radius: 4px;
  }

  // .calculation-form__progress-line-inner

  &__progress-line-inner {
    height: 100%;
    background-color: var(--primary);
  }

  // .calculation-form__progress-steps

  &__progress-steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;

    @media (max-width: $breakpoint768) {
      column-gap: 8px;
    }
  }

  // .calculation-form__progress-step

  &__progress-step {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: var(--white);

    &:last-child {
      align-items: flex-end;
    }

    &::after {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background-color: #484848;
    }

    &.active {
      &::after {
        background-color: var(--primary);
      }
    }

    @media (max-width: $breakpoint768) {
      font-size: 12px;
      font-weight: 400;
      min-width: 42px;
    }
  }

  // .calculation-form__main

  &__main {}

  // .calculation-form__title

  &__title {
    margin-bottom: 40px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: var(--white);

    @media (max-width: $breakpoint768) {
      margin-bottom: 24px;
      font-size: 24px;
    }
  }

  // .calculation-form__content

  &__content {}

  // .calculation-form__start

  &__start {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
  }

  // .calculation-form__start-picture

  &__start-picture {
    height: 176px;

    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: $breakpoint768) {
      height: fit-content;
    }
  }

  // .calculation-form__footer

  &__footer {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 30px;
  }

  // .calculation-form__text

  &__text {
    max-width: 500px;
    margin: 0 auto;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: var(--grey);

    @media (max-width: $breakpoint768) {
      font-size: 14px;
    }
  }

  // .calculation-form__btn

  &__btn {

    img {
      transition: transform 0.2s linear;
    }

    @media (hover:hover) {
      &:hover {
        img {
          transform: translateX(5px);
        }
      }
    }
  }

  // .calculation-form__aside

  &__aside {}

  // .calculation-form__types

  &__types {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 16px;

    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(4, 1fr);
      margin-top: 40px;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .calculation-form__type

  &__type {}

  // .calculation-form__type-input

  &__type-input {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -100;
    opacity: 0;

    &:checked~.calculation-form__type-label {
      border-color: var(--primary);
      font-weight: 700;

      .calculation-form__type-img {
        display: none;
      }

      .calculation-form__type-img-active {
        display: block;
      }
    }
  }

  // .calculation-form__type-label

  &__type-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 112px;
    border: 2px solid transparent;
    border-radius: 10px;
    background: var(--black);
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: var(--white);
    cursor: pointer;

    @media (max-width: $breakpoint768) {
      height: 80px;
      font-size: 16px;
    }
  }

  // .calculation-form__type-img

  &__type-img {
    animation: fade 0.2s linear;

    @media (max-width: $breakpoint768) {
      height: 40px;
    }
  }

  // .calculation-form__type-img-active

  &__type-img-active {
    display: none;
    margin: 0 auto;
    animation: fade 0.2s linear;

    @media (max-width: $breakpoint768) {
      height: 40px;
    }
  }

  // .calculation-form__type-text

  &__type-text {}

  // .calculation-form__services

  &__services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 12px;
    column-gap: 20px;

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
      row-gap: 10px;
    }
  }

  // .calculation-form__service

  &__service {}

  // .calculation-form__service-input

  &__service-input {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -100;
    opacity: 0;

    &:checked~.calculation-form__service-label {
      .calculation-form__service-check {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='19' height='19' rx='2.5' fill='%23151515' stroke='%23FFA53D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.9579 6.31288C14.0407 6.36805 14.0981 6.45383 14.1176 6.55134C14.1371 6.64886 14.1171 6.75013 14.0619 6.83288L9.56192 13.5829C9.53113 13.629 9.49049 13.6677 9.44294 13.6962C9.39538 13.7248 9.34209 13.7424 9.2869 13.7478C9.23172 13.7533 9.17601 13.7464 9.12379 13.7278C9.07157 13.7091 9.02414 13.6791 8.98492 13.6399L5.98492 10.6399C5.91868 10.5688 5.88262 10.4748 5.88434 10.3776C5.88605 10.2805 5.92541 10.1878 5.99411 10.1191C6.06282 10.0504 6.15551 10.011 6.25266 10.0093C6.34981 10.0076 6.44384 10.0436 6.51492 10.1099L9.19142 12.7864L13.4379 6.41638C13.4932 6.33372 13.579 6.27638 13.6765 6.25697C13.774 6.23756 13.8752 6.25767 13.9579 6.31288Z' fill='%23FFA53D'/%3E%3C/svg%3E%0A");
      }
    }
  }

  // .calculation-form__service-label

  &__service-label {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    color: var(--white);
    cursor: pointer;

    @media (max-width: $breakpoint768) {
      font-size: 11px;
    }
  }

  // .calculation-form__service-check

  &__service-check {
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='19' height='19' rx='2.5' fill='%23151515' stroke='%23707070'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 20px 20px;

    @media (max-width: $breakpoint768) {
      width: 16px;
      height: 16px;
      min-width: 16px;
      background-size: 16px 16px;
    }
  }

  // .calculation-form__service-text

  &__service-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    color: var(--white);

    @media (max-width: $breakpoint768) {
      font-size: 11px;
    }
  }

  // .calculation-form__footer-btns

  &__footer-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    width: 100%;
  }

  // .calculation-form__btn-prev

  &__btn-prev {
    width: fit-content;
    padding: 0;
    background: transparent;

    img {
      transform: rotate(180deg);
      transition: transform 0.2s linear;
    }

    @media (hover:hover) {
      &:hover {
        background: transparent;

        img {
          transform: rotate(180deg) translateX(5px);
        }
      }
    }
  }

  // .calculation-form__aside-banner

  &__aside-banner {
    @media (max-width: $breakpoint992) {
      display: none;
    }

  }

  // .calculation-form__gifts

  &__gifts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .calculation-form__gift

  &__gift {
    display: grid;
  }

  // .calculation-form__gift-input

  &__gift-input {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -100;
    opacity: 0;

    &:checked~.calculation-form__gift-label {
      border-color: var(--primary);
    }
  }

  // .calculation-form__gift-label

  &__gift-label {
    display: grid;
    row-gap: 12px;
    align-items: center;
    justify-content: center;
    padding: 12px 24px 24px;
    min-height: 224px;
    background: var(--black);
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
  }

  // .calculation-form__gift-pic

  &__gift-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 180px;
    width: auto;
    height: auto;
    object-fit: cover;
  }

  // .calculation-form__gift-text

  &__gift-text {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: var(--white);

    @media (max-width: $breakpoint768) {
      font-size: 14px;
    }
  }

  // .calculation-form__finish

  &__finish {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 80px 0;

    @media (max-width: $breakpoint768) {
      margin: 40px 0;
    }
  }
}

.calculation-form__block--first {
  position: relative;

  @media (max-width: $breakpoint992) {
    padding-bottom: 120px;

    .calculation-form__footer {
      position: absolute;
      bottom: 40px;
      width: calc(100% - 48px);
    }
  }
}

.observer-anchor {
  position: absolute;
  top: 0;
  user-select: none;
  pointer-events: none;
  height: 600px;
  /* Высота, которую вы хотите задать для отслеживания */
  visibility: hidden;
  /* Скрыть элемент, чтобы он не мешал визуально */
}